# Python
*.pyc
*.pyo
__pycache__/

# Environnements virtuels
venv/
env/
ENV/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/

# Mac / Windows
.DS_Store
Thumbs.db

# Environnement
.env
